.form{
    display: grid;
    grid-template-columns: 1fr auto;
    padding-left: 20px;
}

@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__button {
    background:hsl(180, 100%, 25%);
    color: white;
    padding: 10px;
    border: none;
    transition: color 0.5s;
}

.form__button:hover {
    background:hsl(180, 100%, 35%);
    transform: scale(1.1);
}

.form__button:active{
    background:hsl(180, 100%, 40%);
}

.form__input {
    border: 1px solid #ccc;
    padding: 10px;
}