.buttons__button {
  border: none;
  background: transparent;
  color: rgb(0, 172, 172);
  font-weight: bold;
  font-size: small;
  margin: 0 0 0 20px;
  transition: color 0.5s;
}
@media (max-width: 767px) {
  .buttons__button {
    flex-basis: 100%;
    margin: 10px;
  }
}

.buttons__container {
  display: flex;
  flex-wrap: wrap;
}

.buttons__button:hover {
  color: rgba(0, 128, 128, 0.555);
}

.buttons__button:disabled {
  color: grey;
}

.buttons__button--hide {
  display: none;
}
